In [1]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [2]:
#Read in the csv file and convert to a Pandas dataframe4
RiyadhVillasAqar = pd.read_csv('Data/RiyadhVillasAqar.csv', low_memory=False) # unknown
Riyadh_Aqqar = pd.read_excel('Data/Riyadh_Aqqar.xlsx') # unknown 
realEstate = pd.read_csv('Data/realEstate.csv') # It's written in kaggle 2022

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [3]:
RiyadhVillasAqar.head(5)

,Unnamed: 0,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,...,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
0,0,شرقية,5,4,5+,20.0,1,0,1,1,...,0,0,0,0,0,0,عكاظ,جنوب الرياض,1050000.0,3500.000000
1,1,غربية,4,3,5+,20.0,1,0,1,1,...,2,1,1,0,0,0,المهدية,غرب الرياض,3000000.0,5555.555556
2,2,جنوبية شرقية,7,2,5+,15.0,1,31,1,0,...,0,1,0,0,0,0,الشفا,جنوب الرياض,2000000.0,2285.714286
3,3,غربية,7,3,5+,15.0,1,3,0,1,...,0,1,0,1,0,0,ظهرة لبن,غرب الرياض,894000.0,4470.000000
4,4,شمالية,4,2,4,25.0,1,0,1,1,...,3,1,1,1,0,0,قرطبة,شرق الرياض,3500000.0,8750.000000

## 1. Data Profiling:
Data profiling is a comprehensive process of examining the data available in an existing dataset and collecting statistics and information about that data.

In [4]:
RiyadhVillasAqar.head(1)

,Unnamed: 0,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,...,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
0,0,شرقية,5,4,5+,20.0,1,0,1,1,...,0,0,0,0,0,0,عكاظ,جنوب الرياض,1050000.0,3500.0

In [5]:
Riyadh_Aqqar.head(1)

,نوع العقار,الغرض,المدينة,الحي,الواجهة,المساحة,سعر المتر,السعر الإجمالي
0,أرض,NaN,امارة منطقة الرياض,الرياض,غربية,375,2900.0,1087500

In [6]:
pd.set_option('display.max_columns', None)
realEstate.head(1)

,user_id,id,title,price,content,imgs,refresh,beds,livings,wc,area,street_width,age,last_update,ketchen,ac,furnished,location,path,district,width,length,advertiser_type,create_time,review,profileImg,UserName,iam_verified,onMarket,IsRent
0,1495817,4596035,شقة للإيجار في شارع التغلبي ، حي النظيم ، الري...,20000,1666 كل شهر,"['014958174_1659666836308.jpg', '014958178_165...","['2022-08-06', '12:22:15']",3,0.0,2,225.0,15.0,9.0,"['2022-08-06', '12:22:15']",1.0,0.0,0.0,"{'lat': 24.80093, 'lng': 46.89689, '__typename...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-النظيم/شارع-...,حي النظيم,15.0,15.0,owner,"['2022-08-05', '02:44:23']",5.0,NaN,Thamer,True,17,False

In [7]:
print(RiyadhVillasAqar.columns)
print("------------------------")
print(Riyadh_Aqqar.columns)
print("------------------------")
print(realEstate.columns)

Index(['Unnamed: 0', 'front', 'rooms', 'lounges', 'bathrooms', 'streetWidth',
       'stairs', 'propertyAge', 'driverRoom', 'tent', 'patio', 'kitchen',
       'outdoorRoom', 'garage', 'duplex', 'space', 'apartments', 'maidRoom',
       'elevator', 'furnihsed', 'pool', 'basement', 'neighbourhood',
       'location', 'price', 'square price'],
      dtype='object')
------------------------
Index(['نوع العقار', 'الغرض', 'المدينة', 'الحي', 'الواجهة', 'المساحة',
       'سعر المتر', 'السعر الإجمالي'],
      dtype='object')
------------------------
Index(['user_id', 'id', 'title', 'price', 'content', 'imgs', 'refresh', 'beds',
       'livings', 'wc', 'area', 'street_width', 'age', 'last_update',
       'ketchen', 'ac', 'furnished', 'location', 'path', 'district', 'width',
       'length', 'advertiser_type', 'create_time', 'review', 'profileImg',
       'UserName', 'iam_verified', 'onMarket', 'IsRent'],
      dtype='object')

In [8]:
# front -> الواجهة -> ?
# location -> المدينة -> location
# neighbourhood -> الحي -> district
# space -> المساحة -> area
# price -> السعر الإجمالي -> price
# square price -> سعر المتر -> ?

In [9]:
RiyadhVillasAqar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46826 entries, 0 to 46825
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     46826 non-null  int64
 1   front          46826 non-null  object
 2   rooms          46826 non-null  int64
 3   lounges        45708 non-null  object
 4   bathrooms      46826 non-null  object
 5   streetWidth    46636 non-null  float64
 6   stairs         46826 non-null  int64
 7   propertyAge    46826 non-null  int64
 8   driverRoom     46826 non-null  int64
 9   tent           46826 non-null  int64
 10  patio          46826 non-null  int64
 11  kitchen        46826 non-null  int64
 12  outdoorRoom    46826 non-null  int64
 13  garage         46826 non-null  int64
 14  duplex         46826 non-null  int64
 15  space          46826 non-null  int64
 16  apartments     46826 non-null  object
 17  maidRoom       46826 non-null  int64
 18  elevator       46826 non-null  int64
 19  furnihsed      46826 non-null  int64
 20  pool           46826 non-null  int64
 21  basement       46826 non-null  int64
 22  neighbourhood  46826 non-null  object
 23  location       46826 non-null  object
 24  price          46824 non-null  float64
 25  square price   46824 non-null  float64
dtypes: float64(3), int64(17), object(6)
memory usage: 9.3+ MB

In [10]:
RiyadhVillasAqar[RiyadhVillasAqar.duplicated(keep=False)].sort_values(by = 'space')

Empty DataFrame
Columns: [Unnamed: 0, front, rooms, lounges, bathrooms, streetWidth, stairs, propertyAge, driverRoom, tent, patio, kitchen, outdoorRoom, garage, duplex, space, apartments, maidRoom, elevator, furnihsed, pool, basement, neighbourhood, location, price, square price]
Index: []

In [11]:
realEstate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6762 entries, 0 to 6761
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          6762 non-null   int64
 1   id               6762 non-null   int64
 2   title            6762 non-null   object
 3   price            6762 non-null   int64
 4   content          6668 non-null   object
 5   imgs             6119 non-null   object
 6   refresh          6762 non-null   object
 7   beds             6762 non-null   int64
 8   livings          6760 non-null   float64
 9   wc               6762 non-null   int64
 10  area             6587 non-null   float64
 11  street_width     6552 non-null   float64
 12  age              6057 non-null   float64
 13  last_update      6762 non-null   object
 14  ketchen          6745 non-null   float64
 15  ac               6743 non-null   float64
 16  furnished        6717 non-null   float64
 17  location         6762 non-null   object
 18  path             6762 non-null   object
 19  district         6762 non-null   object
 20  width            4662 non-null   float64
 21  length           4662 non-null   float64
 22  advertiser_type  6522 non-null   object
 23  create_time      6762 non-null   object
 24  review           6363 non-null   float64
 25  profileImg       4016 non-null   object
 26  UserName         6669 non-null   object
 27  iam_verified     6616 non-null   object
 28  onMarket         6762 non-null   int64
 29  IsRent           6762 non-null   bool
dtypes: bool(1), float64(10), int64(6), object(13)
memory usage: 1.5+ MB

In [12]:
realEstate['content'][10]

'يوجد شقه 🥀 للايجار عوائل 🏕️ مكونه من 💐\r\n\r\nغرفه نوم ⭐⭐⭐\r\nومطبخ 🌺 مستقل 🥀\r\nوحمام 🌹\r\nومكيفات 🌴 اسبلت جديد 🌹\r\nالتشطيب ممتاز بجد 🥀\r\nالشارع به جاميع الخدمات 🌉\r\nالعماره عوائل 🌾\r\nالرجاء في عدم الرد ✉️ ارسال رساله عل وتساب 🌹\r\n\r\nالسعر 20الف ريال دفعتين فقط 🌱\r\n👈👈👈👈.    بسام.    👉👉👉👉'

The process of profiling differs slightly for categorical and numerical variables due to their inherent differences.

**The two main types of data are:**
- Quantitative (numerical) data
- Qualitative (categorical) data

### Data Quality Checks
Data quality checks involve the process of ensuring that the data is accurate, complete, consistent, relevant, and reliable. 


**Here are typical steps involved in checking data quality:**

#### 1. Reliability:
Evaluate the data's source and collection process to determine its trustworthiness.

In [13]:
# We have verified the reliability of the datasets and confirmed that they originate from Saudi real estate websites ex: "Aqar website and Bayut website" based on the structure and data patterns, 
# Including neighborhood names, property details, and trends.

#### 2. Timeliness: 
Ensure the data is up-to-date and reflective of the current situation or the period of interest for the analysis.

In [14]:
# The First Dataset (RiyadhVillasAqar) is Unknown
# The Second Dataset (Riyadh_Aqqar) is Unknown
# The Third Dataset (RiyadhVillasAqar) It's written in kaggle 2022 so we confirmed the period is 2022
# So the conclusion is:
# The timeline for one of the datasets was identified as 2022 based on the available data. 
# For the remaining two datasets, while no specific timeline was found, they were uploaded to Kaggle two years ago.
# Which suggests they could potentially align with the '2022' timeframe.

#### 3. Consistency: 

Confirm that the data is consistent within the dataset and across multiple data sources. For example, the same data point should not have different values in different places.

In [15]:
# For consistency, all datasets contained the necessary columns with logical meanings, but formatting adjustments were required to align them. 
# This included renaming columns and standardizing data types to ensure accurate comparisons across all three datasets.

In [16]:
# Rename the Riyadh_Aqqar columns to English names
Riyadh_Aqqar.rename(columns={
    "نوع العقار": "Property Type",
    "الغرض": "Purpose",
    "المدينة": "City",
    "الحي": "District",
    "الواجهة": "Front",
    "المساحة": "Area",
    "سعر المتر": "Square Price",
    "السعر الإجمالي": "Price"
}, inplace=True)

#### 4. Relevance: 
Assess whether the data is appropriate and applicable for the intended analysis. Data that is not relevant can skew results and lead to incorrect conclusions.

**Key considerations for relevance include:**

> 1. Sample Appropriateness: Confirm that your data sample aligns with your analysis objectives. For instance, utilizing data from the Northern region will not yield accurate insights for the Western region of the Kingdom.
>
> 2. Variable Selection: Any column will not be relevant for our analysis, we can get rid of these using the drop() method. We will set the “axis” argument to 1 since we’re dealing with columns, and set the “inplace” argument to True to make the change permanent.

In [17]:
# Sample: 
# All three datasets are relevant as they focus on real estate properties within Riyadh. 
# This alignment ensures that the data is contextually appropriate for addressing questions about housing trends, property characteristics, and neighborhood distributions in the city.
# Columns: 
# realstate Dataset: We decaied to drop the following columns: 'review', 'profileImg', 'UserName', 'iam_verified', 'content', 'imgs'.
# RiyadhVillasAqar Dataset: 'Unnamed: 0'.

In [18]:
RiyadhVillasAqar.drop(columns=['Unnamed: 0'])

,front,rooms,lounges,bathrooms,streetWidth,stairs,propertyAge,driverRoom,tent,patio,kitchen,outdoorRoom,garage,duplex,space,apartments,maidRoom,elevator,furnihsed,pool,basement,neighbourhood,location,price,square price
0,شرقية,5,4,5+,20.0,1,0,1,1,1,1,1,1,1,300,0,0,0,0,0,0,عكاظ,جنوب الرياض,1050000.0,3500.000000
1,غربية,4,3,5+,20.0,1,0,1,1,1,1,1,1,0,540,2,1,1,0,0,0,المهدية,غرب الرياض,3000000.0,5555.555556
2,جنوبية شرقية,7,2,5+,15.0,1,31,1,0,1,1,1,1,0,875,0,1,0,0,0,0,الشفا,جنوب الرياض,2000000.0,2285.714286
3,غربية,7,3,5+,15.0,1,3,0,1,1,1,0,1,1,200,0,1,0,1,0,0,ظهرة لبن,غرب الرياض,894000.0,4470.000000
4,شمالية,4,2,4,25.0,1,0,1,1,1,1,1,1,0,400,3,1,1,1,0,0,قرطبة,شرق الرياض,3500000.0,8750.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46821,جنوبية,5,2,5+,20.0,1,0,0,1,1,1,1,1,0,385,1,1,1,0,0,0,المونسية,شرق الرياض,2250000.0,5844.155844
46822,غربية,7,2,5+,12.0,1,0,0,1,1,1,1,1,0,500,0,1,0,0,0,0,ظهرة البديعة,غرب الرياض,1050000.0,2100.000000
46823,غربية,5,3,5+,20.0,0,0,0,1,1,1,1,1,1,200,0,1,0,0,0,0,طويق,غرب الرياض,1000000.0,5000.000000
46824,جنوبية غربية,1,NaN,1,15.0,0,0,0,0,0,1,0,0,0,405,2,0,0,0,0,0,النهضة,شرق الرياض,2300000.0,5679.012346
46825,شمالية,6,2,5+,15.0,1,0,0,1,1,1,1,1,0,750,2,1,0,0,0,0,المونسية,شرق الرياض,4100000.0,5466.666667

In [19]:
RiyadhVillasAqar['apartments'].value_counts()
# More then 10 apartment consider outliras

apartments
0      26809
1       9373
2       8435
3       1703
4        411
5         29
6         12
8          9
7          7
10         7
12         6
15         5
11         4
30+        4
13         3
14         3
23         2
20         2
9          1
16         1
Name: count, dtype: int64

#### 5. Uniqueness: 
Check for and remove duplicate records to prevent skewed analysis results.

## realEstate

In [20]:
from ydata_profiling import ProfileReport

# profile = ProfileReport(realEstate, title="Data Profiling Report", explorative=True)
# profile.to_file("output_report.html")

# There 0 dupliacte values
# There a lot missing values we need to look further into it

In [21]:
realEstate.duplicated(keep=False).sum()

0

In [22]:
realEstate['id'].duplicated(keep=False).sum()

0

In [23]:
realEstate['user_id'].duplicated(keep=False).sum()

5619

## RiyadhVillasAqar

In [24]:
# profile = ProfileReport(RiyadhVillasAqar, title="Data Profiling Report", explorative=True)
# profile.to_file("output_report1.html")
# There no dupliacte values
# There a lot missing values in columns 'lounges' we need to look further into it

In [25]:
RiyadhVillasAqar.duplicated(keep=False).sum()

0

In [26]:
RiyadhVillasAqar[RiyadhVillasAqar.duplicated(keep=False)].sort_values(by = 'space')

Empty DataFrame
Columns: [Unnamed: 0, front, rooms, lounges, bathrooms, streetWidth, stairs, propertyAge, driverRoom, tent, patio, kitchen, outdoorRoom, garage, duplex, space, apartments, maidRoom, elevator, furnihsed, pool, basement, neighbourhood, location, price, square price]
Index: []

## Riyadh_Aqqar

In [27]:
# profile = ProfileReport(Riyadh_Aqqar, title="Data Profiling Report", explorative=True)
# profile.to_file("output_report2.html")

In [28]:
Riyadh_Aqqar.duplicated(keep=False).sum()

469

In [29]:
Riyadh_Aqqar[Riyadh_Aqqar.duplicated(keep=False)].sort_values(by = 'Area')

,Property Type,Purpose,City,District,Front,Area,Square Price,Price
95,أرض,سكني,الرياض,حي السعادة,جنوبية,90,2500.0,225000
716,أرض,سكني,الرياض,حي السعادة,جنوبية,90,2500.0,225000
529,أرض,سكني,امارة منطقة الرياض,الرياض,جنوبية غربية,218,1650.0,359700
38,أرض,سكني,امارة منطقة الرياض,الرياض,جنوبية غربية,218,1650.0,359700
266,أرض,سكني,امارة منطقة الرياض,الرياض,شمالية شرقية,234,3100.0,725400
...,...,...,...,...,...,...,...,...
256,أرض,تجاري وسكني,الرياض,حي العلا,ثلاث شوارع,17927,1500.0,26890500
97,أرض,سكني,الرياض,حي السعادة,غربية,22300,2700.0,60210000
718,أرض,سكني,الرياض,حي السعادة,غربية,22300,2700.0,60210000
1260,أرض,تجاري وسكني,الرياض,حي العلا,ثلاث شوارع,24000,3000.0,72000000
255,أرض,تجاري وسكني,الرياض,حي العلا,ثلاث شوارع,24000,3000.0,72000000

In [30]:
Riyadh_Aqqar.head(1)

,Property Type,Purpose,City,District,Front,Area,Square Price,Price
0,أرض,NaN,امارة منطقة الرياض,الرياض,غربية,375,2900.0,1087500

In [31]:
# go to delete duplicates columns

#### 6. Completeness: 
Ensure that no critical data is missing. This might mean checking for null values or required fields that are empty.

We will start by checking the dataset for missing or null values. For this, we can use the isna() method which returns a dataframe of boolean values indicating if a field is null or not. To group all missing values by column, we can include the sum() method.

## realEstate

In [32]:
# Display number missing values per column
realEstate.isnull().sum().sort_values(ascending = False)

profileImg         2746
width              2100
length             2100
age                 705
imgs                643
review              399
advertiser_type     240
street_width        210
area                175
iam_verified        146
content              94
UserName             93
furnished            45
ac                   19
ketchen              17
livings               2
district              0
create_time           0
onMarket              0
user_id               0
path                  0
location              0
id                    0
last_update           0
wc                    0
beds                  0
refresh               0
price                 0
title                 0
IsRent                0
dtype: int64

In [33]:
realEstate[(realEstate['area'].isnull()) & (realEstate['length'].isnull()) & (realEstate['width'].isnull())]

# We decided to delete the rows where the area is null since also the length and the width for them was null so there is no way to calculate the area, 
# and we also decided to drop the length and the width column since for the remaining rows we had the area

,user_id,id,title,price,content,imgs,refresh,beds,livings,wc,area,street_width,age,last_update,ketchen,ac,furnished,location,path,district,width,length,advertiser_type,create_time,review,profileImg,UserName,iam_verified,onMarket,IsRent
7,796648,4598513,شقة للإيجار في شارع الأمير بندر بن عبدالعزيز ،...,42000,شقه للايجار عوائل \r\nحي الخليج شارع الحكم الم...,"['568823540_1659734498427.jpg', '568823540_165...","['2022-08-05', '21:22:23']",3,1.0,1,NaN,NaN,1.0,"['2022-08-05', '21:22:22']",1.0,1.0,0.0,"{'lat': 24.757588, 'lng': 46.79094, '__typenam...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-الخليج/شارع-...,حي الخليج,NaN,NaN,NaN,"['2022-08-05', '21:22:22']",3.76,yes,0568823540,True,17,False
23,2063552,4413169,شقة للإيجار في شارع فضل الله بن عبدالله الطبري...,24000,نعرض لكم شقه للإيجار في حي الرمال مربع الذهبي ...,"['568666381_1654979266051.png', '568666381_165...","['2022-08-03', '18:07:51']",3,1.0,2,NaN,NaN,0.0,"['2022-08-03', '18:07:51']",1.0,0.0,0.0,"{'lat': 24.846093, 'lng': 46.815913, '__typena...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-الرمال/شارع-...,حي الرمال,NaN,NaN,normal_marketer,"['2022-06-11', '20:31:29']",4.56,yes,فرسان الرمال للعقارات,True,64,True
99,1064726,4543121,شقة للإيجار في شارع المسير ، حي الوادي ، الريا...,22000,شقة للايجار بحي الوادي \r\nتتكون من : \r\nغرفة...,"['555357444_1658421191823.jpg', '010657754_165...","['2022-08-03', '13:21:52']",1,1.0,1,NaN,NaN,NaN,"['2022-08-03', '13:21:52']",1.0,1.0,0.0,"{'lat': 24.796118, 'lng': 46.687489, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-الوادي/شارع...,حي الوادي,NaN,NaN,exclusive_marketer,"['2022-07-21', '16:37:10']",4.47,yes,أصول الخبرة,True,32,False
129,319126,4023204,شقة للإيجار في طريق أنس ابن مالك ، حي الملقا ،...,60000,للايجار شقه دورين مساحة ١٩٠ م حي حطين دور ارضي...,"['530302057_1644515723152.jpg', '530302057_164...","['2022-08-01', '21:21:10']",4,2.0,4,NaN,NaN,10.0,"['2022-08-01', '21:21:10']",1.0,1.0,0.0,"{'lat': 24.801802, 'lng': 46.602979, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-الملقا/طريق...,حي الملقا,NaN,NaN,normal_marketer,"['2022-02-10', '18:04:45']",4.08,NaN,mohamad,True,193,False
141,457826,4275189,شقة للإيجار في شارع قناة السويس ، حي العقيق ، ...,60000,شقة ٢ وصالة وسطح خاص ومشب تشطيب سوبر ديلوكس را...,"['544859440_1651176812025.jpg', '544859440_165...","['2022-08-05', '20:23:12']",2,1.0,2,NaN,NaN,NaN,"['2022-08-05', '20:23:12']",1.0,1.0,0.0,"{'lat': 24.778274, 'lng': 46.632887, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-العقيق/شارع...,حي العقيق,NaN,NaN,normal_marketer,"['2022-04-28', '20:16:26']",3.98,NaN,ابو محمد,True,112,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6458,665257,4419647,شقة للإيجار في شارع عمر الواعظ ، حي العارض ، ا...,25000,ملحق للايجار\r\nرقم الاعلان\r\n1460\r\nالمدينة...,NaN,"['2022-08-02', '08:09:03']",1,1.0,2,NaN,NaN,NaN,"['2022-08-02', '08:09:03']",1.0,0.0,0.0,"{'lat': 24.886929, 'lng': 46.608425, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-العارض/شارع...,حي العارض,NaN,NaN,normal_marketer,"['2022-06-13', '13:26:53']",4.64,yes,مكتب أركان النهضة للعقارات,True,66,True
6575,148093,4419209,شقة للإيجار في شارع الصحراوي ، حي الملز ، الري...,65000,يرجى تحديد موعد/ شقه شبه جديد دور ارضي مع حوش ...,NaN,"['2022-07-31', '02:38:41']",4,1.0,4,NaN,NaN,2.0,"['2022-07-31', '02:38:41']",1.0,1.0,0.0,"{'lat': 24.664569, 'lng': 46.742265, '__typena...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-الملز/شارع-ا...,حي الملز,NaN,NaN,NaN,"['2022-06-13', '11:34:57']",4.23,yes,مكتب ركن الغدير للعقارات,True,70,False
6625,692078,4489526,شقة للإيجار في شارع رقم 335 ، حي المونسية ، ال...,250000,شقه. في الدور. الاول. ثلاث غرف وصاله وخمامين ...,NaN,"['2022-07-11', '10:29:42']",3,1.0,2,NaN,NaN,NaN,"['2022-07-11', '10:29:42']",1.0,0.0,0.0,"{'lat': 24.83811, 'lng': 46.779102, '__typenam...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-المونسية/شار...,حي المونسية,NaN,NaN,normal_marketer,"['2022-07-02', '14:47:18']",4.24,yes,مؤسسة المسكن المفضل للخدمات العقارية,True,40,True
6695,692078,4560225,شقة للإيجار في شارع أبي الوليد الباجي ، حي الر...,24000,شقه ثلاث غرف وصاله وحمامين مطبخ الايجار. 24الف,NaN,"['2022-07-26', '14:02:52']",3,1.0,2,NaN,NaN,NaN,"['2022-07-26', '14:02:51']",1.0,0.0,0.0,"{'lat': 24.842955, 'lng': 46.785618, '__typena...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-الرمال/شارع-...,حي الرمال,NaN,NaN,normal_marketer,"['2022-07-26', '14:02:51']",4.24,yes,مؤسسة المسكن المفضل للخدمات العقارية,True,27,False
6721,190534,3358671,شقة للإيجار في شارع ابراهيم المصري ، حي السلام...,22000,وسط حي السلام، متوفر كل الخدمات.,NaN,"['2022-07-29', '09:51:21']",4,1.0,2,NaN,NaN,35.0,"['2022-07-29', '09:51:21']",1.0,0.0,0.0,"{'lat': 24.70498, 'lng': 46.808911, '__typenam...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-السلام/شارع-...,حي السلام,NaN,NaN,owner,"['2021-07-05', '19:56:19']",4.68,yes,الموقع المناسب للعقارات,True,413,False

In [34]:
# Check the other form of NaN such as white space and '-'
realEstate[(realEstate['advertiser_type'] == ' ') | (realEstate['advertiser_type'] == '-')]

Empty DataFrame
Columns: [user_id, id, title, price, content, imgs, refresh, beds, livings, wc, area, street_width, age, last_update, ketchen, ac, furnished, location, path, district, width, length, advertiser_type, create_time, review, profileImg, UserName, iam_verified, onMarket, IsRent]
Index: []

In [35]:
# Check the other form of NaN such as white space and '-'
realEstate[(realEstate['district'] == ' ') | (realEstate['district'] == '-')]

Empty DataFrame
Columns: [user_id, id, title, price, content, imgs, refresh, beds, livings, wc, area, street_width, age, last_update, ketchen, ac, furnished, location, path, district, width, length, advertiser_type, create_time, review, profileImg, UserName, iam_verified, onMarket, IsRent]
Index: []

In [36]:
# go to clean them 
realEstate[(realEstate['age'].isnull())]

,user_id,id,title,price,content,imgs,refresh,beds,livings,wc,area,street_width,age,last_update,ketchen,ac,furnished,location,path,district,width,length,advertiser_type,create_time,review,profileImg,UserName,iam_verified,onMarket,IsRent
2,2412431,4554519,شقة للإيجار في شارع أبي الحسن الأسفرائيني ، حي...,22000,شقه للايجار حي الرمال \r\nمكون\r\nالدور ثالث\r...,"['023243548_1658701693777.jpg', '023243549_165...","['2022-08-06', '06:59:03']",3,1.0,2,200.0,25.0,NaN,"['2022-08-06', '06:59:03']",0.0,0.0,0.0,"{'lat': 24.921463, 'lng': 46.80627, '__typenam...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-الرمال/شارع-...,حي الرمال,10.0,20.0,normal_marketer,"['2022-07-24', '22:27:27']",4.67,NaN,مكتب منزلك الفاخر,True,15,True
14,2651072,4548914,شقة للإيجار في شارع رقم 108 ، حي المونسية ، ال...,28000,NaN,"['026510723_1658588017525.jpg', '026510724_165...","['2022-08-03', '21:50:39']",3,1.0,2,450.0,15.0,NaN,"['2022-08-03', '21:51:22']",0.0,0.0,0.0,"{'lat': 24.823172, 'lng': 46.762318, '__typena...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-المونسية/شار...,حي المونسية,20.0,22.0,agent,"['2022-07-23', '14:58:53']",NaN,NaN,ابو علي,True,26,True
18,2072661,4462518,شقة للإيجار في شارع برودان ، حي القيروان ، الر...,85000,شقه للايجار في مشروع نرفانا 12\r\nشقه فخم جدآ ...,"['004466119_1656083497578.jpg', '004466115_165...","['2022-08-05', '10:21:23']",4,1.0,3,208.0,35.0,NaN,"['2022-08-05', '10:21:23']",1.0,1.0,0.0,"{'lat': 24.828261, 'lng': 46.585809, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-القيروان/شا...,حي القيروان,NaN,NaN,owner,"['2022-06-24', '15:13:14']",4.26,yes,مكتب عقاري مميز,True,59,False
20,207685,4398211,شقة للإيجار في شارع الشوكي ، حي الفاخرية ، الر...,10000,NaN,"['002076857_1654625243968.jpg', '002076852_165...","['2022-07-30', '16:50:48']",1,1.0,1,50.0,5.0,NaN,"['2022-07-30', '16:50:48']",0.0,0.0,0.0,"{'lat': 24.644058, 'lng': 46.68697, '__typenam...",/شقق-للإيجار/الرياض/غرب-الرياض/حي-الفاخرية/شار...,حي الفاخرية,4.0,12.0,owner,"['2022-06-07', '18:08:53']",4.47,NaN,ابو تركي,True,76,False
24,1064726,4542592,شقة للإيجار في شارع الشيخ عبدالوهاب بن عبدالله...,15000,شقة عزاب للايجار بحي الازدهار \r\nتتكون من :\r...,"['014783279_1658414095616.jpg', '014783278_165...","['2022-07-30', '08:41:17']",1,0.0,1,85.0,65.0,NaN,"['2022-07-30', '08:41:17']",1.0,1.0,1.0,"{'lat': 24.782621, 'lng': 46.714996, '__typena...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-الازدهار/شار...,حي الازدهار,1.0,85.0,exclusive_marketer,"['2022-07-21', '14:38:09']",4.47,yes,أصول الخبرة,True,32,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6736,719522,4416377,شقة للإيجار في شارع الحفناوي ، حي العارض ، الر...,30000,يوجد شقة للايجار حي العارض\r\nثلاث غرف \r\nصال...,NaN,"['2022-08-03', '14:51:56']",3,1.0,2,130.0,15.0,NaN,"['2022-08-03', '14:51:56']",1.0,1.0,0.0,"{'lat': 24.869963, 'lng': 46.630573, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-العارض/شارع...,حي العارض,10.0,13.0,normal_marketer,"['2022-06-12', '16:28:08']",4.28,yes,مؤسسة دار مسك للتطوير والاستثمار العقاري,True,71,False
6738,53924,4545371,شقة للإيجار في شارع رقم 129 ، حي الياسمين ، ال...,30000,مكيفات ومطبخ راكب,NaN,"['2022-08-01', '14:11:10']",3,1.0,2,375.0,5.0,NaN,"['2022-08-01', '14:11:10']",1.0,1.0,0.0,"{'lat': 24.829929, 'lng': 46.643005, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-الياسمين/شا...,حي الياسمين,NaN,NaN,normal_marketer,"['2022-07-22', '14:06:59']",4.15,yes,مكتب الدواي شمال الرياض,True,31,False
6740,276956,4598269,شقة للإيجار في شارع القلعة ، حي الياسمين ، الر...,15000,غرفه سائق لشخص واحد فقط حي الياسمين. \r\nفيها ...,NaN,"['2022-08-05', '19:41:07']",1,0.0,1,25.0,30.0,NaN,"['2022-08-05', '19:41:06']",0.0,0.0,0.0,"{'lat': 24.810818, 'lng': 46.657654, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-الياسمين/شا...,حي الياسمين,5.0,5.0,agent,"['2022-08-05', '19:41:06']",3.67,NaN,0500021693,True,17,False
6746,1837834,4590893,شقة للإيجار في شارع نفيع بن المعلي ، حي الملز ...,27000,NaN,NaN,"['2022-08-03', '16:36:15']",2,1.0,2,70.0,40.0,NaN,"['2022-08-03', '16:59:55']",1.0,0.0,0.0,"{'lat': 24.669586, 'lng': 46.735622, '__typena...",/شقق-للإيجار/الرياض/شرق-الرياض/حي-الملز/شارع-ن...,حي الملز,10.0,7.0,exclusive_marketer,"['2022-08-03', '16:36:14']",4.50,yes,مؤسسة بنادر نجد العقارية,True,15,True
6752,2220912,4590021,شقة للإيجار في طريق مكة المكرمة الفرعي ، حي ال...,40000,شقة للإيجار ٣ غرف وصاله و٢ دورة مياه ومطبخ ومك...,NaN,"['2022-08-04', '21:38:54']",3,1.0,2,120.0,25.0,NaN,"['2022-08-04', '21:39:08']",1.0,1.0,0.0,"{'lat': 24.682827, 'lng': 46.698486, '__typena...",/شقق-للإيجار/الرياض/شمال-الرياض/حي-العليا/طريق...,حي العليا,10.0,12.0,agent,"['2022-08-03', '13:57:52']",4.20,NaN,ااا,True,19,False

## Riyadh_Aqqar

In [37]:
Riyadh_Aqqar.isnull().sum().sort_values(ascending = False)

Purpose          49
Property Type     0
City              0
District          0
Front             0
Area              0
Square Price      0
Price             0
dtype: int64

In [38]:
# Check for NaN, white space, or '-' in 'Riyadh_Aqqar' columns
Riyadh_Aqqar[(Riyadh_Aqqar['Purpose'] == ' ') | (Riyadh_Aqqar['Purpose'] == '-')]
Riyadh_Aqqar[(Riyadh_Aqqar['Property Type'] == ' ') | (Riyadh_Aqqar['Property Type'] == '-')]
Riyadh_Aqqar[(Riyadh_Aqqar['District'] == ' ') | (Riyadh_Aqqar['District'] == '-')]
Riyadh_Aqqar[(Riyadh_Aqqar['Front'] == ' ') | (Riyadh_Aqqar['Front'] == '-')]

Empty DataFrame
Columns: [Property Type, Purpose, City, District, Front, Area, Square Price, Price]
Index: []

In [39]:
Riyadh_Aqqar.head(20)

,Property Type,Purpose,City,District,Front,Area,Square Price,Price
0,أرض,NaN,امارة منطقة الرياض,الرياض,غربية,375,2900.0,1087500
1,أرض,NaN,الرياض,حي غرناطة,شمالية,800,4800.0,3840000
2,أرض,سكني,الرياض,حي غرناطة,ثلاث شوارع,1650,4800.0,7920000
3,أرض,سكني,الرياض,حي اليرموك,ثلاث شوارع,1650,4800.0,7920000
4,أرض,سكني,الرياض,حي النسيم الغربي,غربية,750,3200.0,2400000
5,أرض,تجاري وسكني,الرياض,حي الرمال,جنوبية,2400,3300.0,7920000
6,أرض,تجاري وسكني,الرياض,حي الرمال,شمالية,900,3300.0,2970000
7,أرض,تجاري وسكني,الرياض,حي الملك فيصل,شرقية,750,3350.0,2512500
8,أرض,تجاري وسكني,الرياض,حي اليرموك,جنوبية,1089,3300.0,3593700
9,أرض,تجاري وسكني,امارة منطقة الرياض,الرياض,غربية,750,2600.0,1950000
10,أرض,تجاري وسكني,امارة منطقة الرياض,الرياض,شمالية شرقية,900,580.0,522000
11,أرض,تجاري وسكني,الرياض,حي اليرموك,شرقية,450,3500.0,1575000
12,أرض,تجاري وسكني,الرياض,حي الرمال,شرقية,450,3500.0,1575000
13,أرض,تجاري وسكني,الرياض,حي اليرموك,جنوبية,1089,3300.0,3593700
14,أرض,تجاري وسكني,امارة منطقة الرياض,الرياض,جنوبية,1089,3300.0,3593700
15,أرض,تجاري وسكني,الرياض,حي المعيزلة,جنوبية,550,2500.0,1375000
16,أرض,تجاري وسكني,الرياض,حي اليرموك,جنوبية,1089,3200.0,3484800
17,أرض,تجاري وسكني,الرياض,حي اليرموك,جنوبية,1089,3250.0,3539250
18,أرض,تجاري وسكني,الرياض,حي المعيزلة,جنوبية,550,3000.0,1650000
19,أرض,تجاري وسكني,الرياض,حي اليرموك,جنوبية,1089,3200.0,3484800

In [40]:
# Riyadh_Aqqar['City'].value_counts()
# We decided to remove column 'City' because our datasets in Riyadh Region 
# Removing the 'City' column as the dataset is limited to the Riyadh Region, making this column redundant 
# We have a column 'District' as replacment for column 'City'

## RiyadhVillasAqar

In [41]:
RiyadhVillasAqar.isnull().sum().sort_values(ascending = False)

lounges          1118
streetWidth       190
square price        2
price               2
duplex              0
location            0
neighbourhood       0
basement            0
pool                0
furnihsed           0
elevator            0
maidRoom            0
apartments          0
space               0
Unnamed: 0          0
front               0
outdoorRoom         0
kitchen             0
patio               0
tent                0
driverRoom          0
propertyAge         0
stairs              0
bathrooms           0
rooms               0
garage              0
dtype: int64

In [42]:
# Check for NaN, white space, or '-' in RiyadhVillasAqar columns
RiyadhVillasAqar[(RiyadhVillasAqar['neighbourhood'] == ' ') | (RiyadhVillasAqar['neighbourhood'] == '-')]
RiyadhVillasAqar[(RiyadhVillasAqar['location'] == ' ') | (RiyadhVillasAqar['location'] == '-')]
RiyadhVillasAqar[(RiyadhVillasAqar['apartments'] == ' ') | (RiyadhVillasAqar['apartments'] == '-')]
RiyadhVillasAqar[(RiyadhVillasAqar['lounges'] == ' ') | (RiyadhVillasAqar['lounges'] == '-')]
RiyadhVillasAqar[(RiyadhVillasAqar['bathrooms'] == ' ') | (RiyadhVillasAqar['bathrooms'] == '-')]
RiyadhVillasAqar[(RiyadhVillasAqar['front'] == ' ') | (RiyadhVillasAqar['front'] == '-')]

Empty DataFrame
Columns: [Unnamed: 0, front, rooms, lounges, bathrooms, streetWidth, stairs, propertyAge, driverRoom, tent, patio, kitchen, outdoorRoom, garage, duplex, space, apartments, maidRoom, elevator, furnihsed, pool, basement, neighbourhood, location, price, square price]
Index: []

#### 7. Check Accuracy:

Verify that the data is correct and precise. This could involve comparing data samples with known sources or using validation rules.

**The process includes:**
1. Validating the appropriateness of data types for the dataset.
2. Identifying outliers  using established validation  rule

In [43]:
# check columns types

In [44]:
# go to clean them

In [45]:
# check outliers

**What is an Outlier?** 
Outlier is an row/observation that appears far away and diverges from an overall pattern in a sample.

**What are the types of Outliers?**
1. Univariate: These outliers can be found when we look at distribution of a single variable
2. Multivariate: are outliers in an n-dimensional space. In order to find them, you have to look at distributions in multi-dimensions. example (hight=100, weight=100) for a person

**What causes Outliers?**
Whenever we come across outliers, the ideal way to tackle them is to find out the reason of having these outliers. The method to deal with them would then depend on the reason of their occurrence.

Let’s understand various types of outliers:

1. Data Entry Errors:- Human errors such as errors caused during data collection, recording, or entry can cause outliers in data.
2. Measurement Error: It is the most common source of outliers. This is caused when the measurement instrument used turns out to be faulty.
3. Data Processing Error: Whenever we perform data mining, we extract data from multiple sources. It is possible that some manipulation or extraction errors may lead to outliers in the dataset.
4. Sampling error: For instance, we have to measure the height of athletes. By mistake, we include a few basketball players in the sample. This inclusion is likely to cause outliers in the dataset.
5. Natural Outlier: When an outlier is not artificial (due to error), it is a natural outlier. For instance: In my last assignment with one of the renowned insurance company, I noticed that the performance of top 50 financial advisors was far higher than rest of the population. Surprisingly, it was not due to any error. Hence, whenever we perform any data mining activity with advisors, we used to treat this segment separately.


**What is the impact of Outliers on a dataset?**


![image.png](https://www.analyticsvidhya.com/wp-content/uploads/2015/02/Outlier_31.png)



**How to detect Outliers?**

1. Most commonly used method to detect outliers is visualization (Univariate Graphical Analysis).

We use 3 common visualization methods:
>- Box-plot: A box plot is a method for graphically depicting groups of numerical data through their quartiles. The box extends from the Q1 to Q3 quartile values of the data, with a line at the median (Q2). The whiskers extend from the edges of the box to show the range of the data. Outlier points are those past the end of the whiskers. Box plots show robust measures of location and spread as well as providing information about symmetry and outliers.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:698/format:webp/1*VK5iHA2AB28HSZwWwUbNYg.png)
>
>
>- Histogram
>- Scatter Plot: A scatter plot is a mathematical diagram using Cartesian coordinates to display values for two variables for a set of data. The data are displayed as a collection of points, each having the value of one variable determining the position on the horizontal axis and the value of the other variable determining the position on the vertical axis. The points that are far from the population can be termed as an outlier.
>
>  
>![image.png](https://miro.medium.com/v2/resize:fit:4800/format:webp/1*Ov6aH-8yIwNoUxtMFwgx4g.png)
>
>

2. Using statistical method (Univariate Non-Graphical analysis):
>- Any value, which is beyond the range of -1.5 x IQR to 1.5 x IQR
 
![image.png](https://www.whatissixsigma.net/wp-content/uploads/2015/07/Box-Plot-Diagram-to-identify-Outliers-figure-1.png)

>- Use capping methods. Any value which out of range of 5th and 95th percentile can be considered as outlier
>- Data points, three or more standard deviation away from mean are considered outlier: The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured. While calculating the Z-score we re-scale and center the data and look for data points that are too far from zero. These data points which are way too far from zero will be treated as the outliers. In most of the cases, a threshold of 3 or -3 is used i.e if the Z-score value is greater than or less than 3 or -3 respectively, that data point will be identified as outliers.
> - Outlier detection is merely a special case of the examination of data for influential data points and it also depends on the business understanding

In [46]:
# go to univariate graphical analysis
# go to lesson : data visualisation 1 - chart type section
# then go to univariate graphical analysis
# detect outliers using graphs varbaly

In [47]:
# go to lesson: statistics 1 then statistics 3
# then go to univariate Non graphical analysis
# detect outliers using numerical statistics

In [48]:
# go to delete ouliers

## 2. Data Cleaning: 

Preliminary findings from data profiling can lead to cleaning the data by:
- Handling missing values
- Correcting errors.
- Dealing with outliers.

-------------------

### Handling missing values:

**Why my data has missing values?**
They may occur at two stages:
1. Data Extraction: It is possible that there are problems with extraction process. Errors at data extraction stage are typically easy to find and can be corrected easily as well.
2. Data collection: These errors occur at time of data collection and are harder to correct.

**Why do we need to handle the missing data?**
To avoid:
- Bias the conclusions.
- Leading the business to make wrong decisions.

**Which are the methods to treat missing values ?**
1. Deletion: we delete rows where any of the variable is missing. Simplicity is one of the major advantage of this method, but this method reduces the power of model because it reduces the sample size.

2. Imputation: is a method to fill in the missing values with estimated ones. This imputation is one of the most frequently used methods.

    2.1. Mean/ Mode/ Median Imputation: It consists of replacing the missing data for a given attribute by the mean or median (quantitative attribute) or mode (qualitative attribute) of all known values of that variable.
    > It can be of two types:
    > - Generalized Imputation: In this case, we calculate the mean or median for all non missing values of that variable then replace missing value with mean or median.
    > - Similar case Imputation: In this case, we calculate average for each group individually of non missing values then replace the missing value based on the group.

    2.2. Constant Value
   
    2.3. Forward Filling
   
    2.4. Backward Filling

6. Prediction Model:  Prediction model is one of the sophisticated method for handling missing data. Here, we create a predictive model to estimate values that will substitute the missing data.  In this case, we divide our data set into two sets: One set with no missing values for the variable and another one with missing values. First data set become training data set of the model while second data set with missing values is test data set and variable with missing values is treated as target variable. Next, we create a model to predict target variable based on other attributes of the training data set and populate missing values of test data set.

> There are 2 drawbacks for this approach:
> - The model estimated values are usually more well-behaved than the true values
> - If there are no relationships with attributes in the data set and the attribute with missing values, then the model will not be precise for estimating missing values.

9. KNN Imputation: In this method of imputation, the missing values of an attribute are imputed using the given number of attributes that are most similar to the attribute whose values are missing. The similarity of two attributes is determined using a distance function. It is also known to have certain advantage & disadvantages.

   > **Advantages:**
   > - k-nearest neighbour can predict both qualitative & quantitative attributes
   > - Creation of predictive model for each attribute with missing data is not required
   > - Attributes with multiple missing values can be easily treated
   > - Correlation structure of the data is taken into consideration

   > **Disadvantage:**
   > - KNN algorithm is very time-consuming in analyzing large database. It searches through all the dataset looking for the most similar instances.
   > - Choice of k-value is very critical. Higher value of k would include attributes which are significantly different from what we need whereas lower value of k implies missing out of significant attributes.

--------------------

# Remove Columns

## realEstate

In [49]:
## Remove the columns of realEstate dataset
realEstate.drop(columns=['review', 'profileImg', 'UserName', 'iam_verified', 'content', 'imgs', 'last_update', 'refresh', 'location', 'path', 'create_time', 'title'], inplace = True)

In [50]:
realEstate.head(1)

,user_id,id,price,beds,livings,wc,area,street_width,age,ketchen,ac,furnished,district,width,length,advertiser_type,onMarket,IsRent
0,1495817,4596035,20000,3,0.0,2,225.0,15.0,9.0,1.0,0.0,0.0,حي النظيم,15.0,15.0,owner,17,False

In [51]:
## Remove the columns of realEstate dataset
realEstate.drop(columns=['length','width'], inplace = True)

In [52]:
realEstate.head(1)

,user_id,id,price,beds,livings,wc,area,street_width,age,ketchen,ac,furnished,district,advertiser_type,onMarket,IsRent
0,1495817,4596035,20000,3,0.0,2,225.0,15.0,9.0,1.0,0.0,0.0,حي النظيم,owner,17,False

In [53]:
# go back to 6th dimention --> Completeness

## Riyadh_Aqqar

In [54]:
# Remove the columns of Riyadh_Aqqar dataset
Riyadh_Aqqar.drop(columns=['City'], inplace = True)

In [55]:
Riyadh_Aqqar.head(1)

  Property Type Purpose  District  Front  Area  Square Price    Price
0           أرض     NaN   الرياض   غربية   375        2900.0  1087500

# Remove Null Value (NaN)

## realEstate

In [56]:
# Remove rows that has NaN value in column 'area'
realEstate.dropna(subset=['area'], inplace=True)

In [57]:
# Display the result after dealing with Nan row in 'area'
realEstate.isnull().sum().sort_values(ascending = False)

age                672
advertiser_type    168
furnished           45
street_width        35
ac                  19
ketchen             17
livings              2
user_id              0
id                   0
price                0
beds                 0
wc                   0
area                 0
district             0
onMarket             0
IsRent               0
dtype: int64

In [58]:
# Filling missing values with the most frequent value (mode) or mean (for numerical columns)
realEstate['age'].fillna(realEstate['age'].mode()[0], inplace = True)
realEstate['advertiser_type'].fillna(realEstate['advertiser_type'].mode()[0], inplace = True)
realEstate['street_width'].fillna(realEstate['street_width'].mean(), inplace = True)
realEstate['furnished'].fillna(realEstate['furnished'].mode()[0], inplace = True)
realEstate['ac'].fillna(realEstate['ac'].mode()[0], inplace = True)
realEstate['ketchen'].fillna(realEstate['ketchen'].mode()[0], inplace = True)
realEstate['livings'].fillna(realEstate['livings'].mode()[0], inplace = True)

In [59]:
# Display The result
realEstate.isnull().sum().sort_values(ascending = False)

user_id            0
id                 0
price              0
beds               0
livings            0
wc                 0
area               0
street_width       0
age                0
ketchen            0
ac                 0
furnished          0
district           0
advertiser_type    0
onMarket           0
IsRent             0
dtype: int64

## Riyadh_Aqqar

In [60]:
# Filling missing values with the most frequent value (mode) or mean (for numerical columns)
Riyadh_Aqqar['Purpose'].fillna(Riyadh_Aqqar['Purpose'].mode()[0], inplace = True)

In [61]:
# Display The result
Riyadh_Aqqar.isnull().sum().sort_values(ascending = False)

Property Type    0
Purpose          0
District         0
Front            0
Area             0
Square Price     0
Price            0
dtype: int64

## RiyadhVillasAqar

In [62]:
# Filling missing values with the most frequent value (mode) or mean (for numerical columns)
RiyadhVillasAqar["lounges"].fillna(RiyadhVillasAqar["lounges"].mode()[0], inplace=True)
RiyadhVillasAqar["streetWidth"].fillna(RiyadhVillasAqar["streetWidth"].mean(), inplace=True)
RiyadhVillasAqar["price"].fillna(RiyadhVillasAqar["price"].mean(), inplace=True)
RiyadhVillasAqar["square price"].fillna(RiyadhVillasAqar["square price"].mean(), inplace=True)

In [63]:
# Display The result
RiyadhVillasAqar.isnull().sum().sort_values(ascending = False)

Unnamed: 0       0
front            0
price            0
location         0
neighbourhood    0
basement         0
pool             0
furnihsed        0
elevator         0
maidRoom         0
apartments       0
space            0
duplex           0
garage           0
outdoorRoom      0
kitchen          0
patio            0
tent             0
driverRoom       0
propertyAge      0
stairs           0
streetWidth      0
bathrooms        0
lounges          0
rooms            0
square price     0
dtype: int64

### Correcting errors

-------------------

In [64]:
# go back to 7th dimension Accuracy

### Dealing with outliers:

**How to remove Outliers?**
Most of the ways to deal with outliers are similar to the methods of missing values like deleting rows, transforming them, binning them, treat them as a separate group, imputing values and other statistical methods. Here, we will discuss the common techniques used to deal with outliers:

1. Deleting rows: We delete outlier values if it is due to data entry error, data processing error or outlier rows are very small in numbers. We can also use trimming at both ends to remove outliers.

2. Imputing: Like imputation of missing values, we can also impute outliers. We can use mean, median, mode imputation methods. Before imputing values, we should analyse if it is natural outlier or artificial. If it is artificial, we can go with imputing values. We can also use statistical model to predict values of outlier rows and after that we can impute it with predicted values.

3. Treat separately: If there are significant number of outliers, we should treat them separately in the statistical model. One of the approach is to treat both groups as two different groups and build individual model for both groups and then combine the output.

## 3. Univariate Analysis: 

This involves examining single variables to understand their characteristics (distribution, central tendency, dispersion, and shape).

We calculate **numerical values** about the data that tells us about the distribution of the data. We also **draw graphs** showing visually how the data is distributed. **To answer the following questions about Features/characteristics of Data:**
- Where is the center of the data? (location)
- How much does the data vary? (scale)
- What is the shape of the data? (shape)

**The benefits of this analysis:**
Statistics summary gives a high-level idea to identify whether the data has any outliers, data entry error, distribution of data such as the data is normally distributed or left/right skewed

**In this step, we will explore variables one by one using following approaches:**

### 1. Univariate Graphical Analysis:
Method to perform uni-variate analysis will depend on whether the variable type is categorical or numerical.

#### I. Categorical Variables:

we’ll use frequency table to understand distribution of each category
- Bar Chart (Ordinal) - Orderd
- Pie Chart (Nominal) - non Orderd

#### II. Numerical Variables:

we need to understand the central tendency and spread of the variable (Descriptive Analysis) using:
   - Box plot
   - Histogram

### 2. Univariate Non-Graphical analysis: 

- Where is the center of the data? (location) --> **Measures of central tendency**
- How much does the data vary? (scale) --> **Measure of variability**
- What is the shape of the data? (shape) --> **Measures of variation combined with an average (measure of center) gives a good picture of the distribution of the data.**

## 4. Bivariate/Multivariate Analysis:

Here, you look at the relationships between two or more variables. This can involve looking for correlations, patterns, and trends that suggest a relationship or an association.

We can perform bi-variate analysis for any combination of categorical and numerical variables. The combination can be:
| bi-variate variables   | Plot type |
| ------------- | ------------- |
| Categorical & Categorical| Stacked Bar Chart |
| Categorical & numerical  | scatter plot, histogram, box plot|
| numerical  & numerical  | Scatter plot, line chart| 


Multivariate Analysis:
- Heat map
- Bar Chart
- Scatter Chart
- Line Chart

**Categorical & Categorical --> (Stacked Column Chart)**

**Categorical & numerical --> (scatter plot, histogram, box plot)**

**numerical & numerical --> (Scatter plot, line chart)**

We could also use a correlation matrix to get more specific information about the relationship between these two variables.